graft src
graft tests
graft client-side
prune scripts
prune notebooks
prune tests/.pytest_cache

prune docs/build
prune docs/source/api

prune data
prune attic

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png

include src/assets/hyda
recursive-include assets *.yaml


global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

include README.md LICENSE
exclude tox.ini .flake8 .bumpversion.cfg .readthedocs.yml
exclude src/connectome_innolab/assets/hydra
include requirements.txt
include conftest.py
